<form (submit)="submitForm()">

  <div class="form-group">
    <label for="isbnField">ISBN</label>
    <input id="isbnField" type="text" class="form-control"
      [field]="bookForm.isbn" /> <!-- [class.invalid]="bookForm.isbn().invalid() && bookForm.isbn().touched()"  -->

    <!--<pre>{{ bookForm.isbn().errors() | json }}</pre>-->

    @if (bookForm.isbn().touched()) {
      @for (e of bookForm.isbn().errors(); track e.kind) {
        <div class="feedback-error">{{ e.message }}</div>
      }
    }

    <!--Ausblick: Eigene Komponente zur Fehleranzeige
    <app-form-errors [fieldRef]="bookForm.isbn" />-->
  </div>

  <div class="form-group">
    <label for="titleField">Titel</label>
    <input id="titleField" type="text" class="form-control" [field]="bookForm.title" />

    @if (bookForm.title().touched()) {
      @for (e of bookForm.title().errors(); track e.kind) {
        <div class="feedback-error">{{ e.message }}</div>
      }
    }
  </div>

  <div class="form-group">
    <label for="descField">Beschreibung</label>
    <textarea id="descField" class="form-control" [field]="bookForm.description"></textarea>
  </div>

  <div class="form-group">
    <label for="ratingField">Bewertung</label>
    <input id="ratingField" type="number" class="form-control" [field]="bookForm.rating" />
  </div>

  <div class="form-group">
    <label for="priceField">Preis</label>
    <input id="priceField" type="number" class="form-control" [field]="bookForm.price" />
  </div>

  <fieldset>
    <label>Autoren</label>
    <button type="button" class="btn btn-green" (click)="addAuthorField()">+ Autor</button>

    @for (authorField of bookForm.authors; track $index) {
      <input type="text" class="form-control" [field]="authorField" />
    }
  </fieldset>

  <button type="submit" class="btn btn-green" [disabled]="bookForm().invalid()">Abschicken</button>
</form>


<pre>{{ formData() | json }}</pre>
